*{
    margin: 0;
    padding: 0;  
    /* box-sizing: border-box; */
    letter-spacing: 1px;
    font-family: verdana;
    text-transform: capitalize;
  }
  .walpaper{
      width: 100%;
      height:100%;
      margin: auto;
      position: relative;
      background: url('https://source.unsplash.com/random/?workdesk');
      background-size: cover;
      background-repeat: no-repeat;
  
      /* background: linear-gradient(55deg, rgb(113, 96, 185) 50%, #ca5252 50%); */
      
  }
  body{
      min-height: 100vh;
      display: flex;
      align-items: center;
      
  }
  .container{
      /* position: absolute; */
      height: 450px;
      width: 550px;
      /* margin-left: 10rem; */
      margin: 1rem 12rem;
      background: #F1F6F9;
      border-radius: 2px;
      
      padding: 10px;
      overflow-y: auto;
  }
  h1{
      font-weight: 600;
      margin: 2rem 0 0 16rem;
         
  }
  p{
      margin-top: -2.8rem;
      margin-left: 34.5rem;
      font-family: 'Lucida Sans';
      
  }
  #task{
      height: 50px;
      width: 82%;
      outline: none;
      border: none;
      border-radius: 40px;
      background: #146C94;
      color:#F6F1F1;
      padding: 0 10px;
      margin: 10px 0;
  }

  #task::placeholder{
      color: #F6F1F1;
  }

  #add{
      /* position: fixed; */
      height: 40px;
      width:40px;
      float: right;
      margin-top: .8rem;
      background: #212A3E;
      cursor: pointer;
      font-weight: 900;
      color: white;
      border-radius: 50px;
  }
  /* #reset{
      position:sticky;
      margin-top: 1em;
      margin-left: 7.5rem;
      width:5rem;
      height: 2em;
      font-weight: 900;
      border-radius: 5px;
      background: green;
      color: white;
      cursor: pointer;
      
      
  } */
  ul li{
      background: #9BA4B5;
      color: #212A3E;
      height: 40px;
      border-radius: 50px;
      margin: 10px 0;
      padding: 10px;
      position: relative;
      margin-top: 10px;
  }
  ul .fa-check, .fa-trash-o {
      position:absolute;
      cursor: pointer;
  }
  ul .fa-check{
      right: 40px;
      color: green;
  }

  ul .fa-trash-o{
      right: 15px;
      color: #212A3E;
  }
  ul .fa-trash-o:hover{
      right: 15px;
      color: #fb1b1b;

  }
  ul .completed{
      background:#AFD3E2;
      /* text-decoration: line-through; */
      transition: .2s;
      opacity: 0.5;
  }
  .error {
display: block;
padding: 10px;
color: #ff5050;
clear: both;
animation: fadeIn 3s;

}

/* .footer{
position: fixed;

width: 19.5rem;
height: 3rem;
bottom: 4.5rem;
filter: blur(4px);
background-color:rgba(0, 0, 0, 0.4);
border-radius: 10px;

} */

#title{
    color: white;
    font-size: 50px;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                 1px -1px 0 #000,
                -1px -1px 0 #000;
}


.time{
    font-size: 7px;
    color: #212A3E;
    text-align: right;
    margin-top: 5px;
    margin-right: 50px;
}